/* CSS Variables */
:root {
/* Sizing */
--page-width: 80vw;
--page-height: 100%;
/* Spacing */
--gap: 0.4em 0.4em;
--header-footer-padding: 1.6em 0;
--section-padding: 4em 0;
--container-padding: 1em;
--project-margins: 0 0 0 0;
/* Typography */
--header-font: 'Merriweather', serif;
--body-font: 'Sarabun', sans-serif;
--h1-size: 4em;
--h2-size: 2em;
--p-size: 1.4em;
--highlight-size: 1em;
--header-spacing: 0 0 0.4em 0;
--inline-spacing: 0 0 1em 0;
/* Colors */
--background: #2D2D2D;
--secondary-background:#EBF2FF;
--primary: #259AC9;
--secondary: #196A8A;
--nav-link: #ffffff;
--link:#259AC9;
--white: #ffffff;
--black:#2D2D2D;
--gray: #f2f2f2;
/* Drop Shadow */
--drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
/* Button variables */
--btn-font-size: 1.1em;
--btn-border-radius: 0.4em;
--btn-text:#ffffff;
--btn-font-weight:900;
/* Keyword variables */
--keyword-size: 0.8em;
/* Border */
--border: 1px solid #f2f2f2;
--border-radius: 1em;
}

:root {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Priming animations to load well */
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

body {
    color: var(--black);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Universal width of content */
#header-content, #footer-content, .section-content {
   width: var(--page-width);
   height: var(--page-height);
}

/* Typographic styling */
/* Fonts for headers */
h1, h2 {
    font-family: var(--header-font);
}
/* Fonts for body text */
p, a, li {
    font-family: var(--body-font);
}

h1 {
    font-size: var(--h1-size);
    margin: var(--header-spacing);
    line-height: 1.2em;
}

h2 {
    font-size: var(--h2-size);
    margin: var(--header-spacing);
}

p {
    font-size: var(--p-size);
    margin: var(--inline-spacing);
    line-height: 1.5em;
}

li {
    font-size: var(--highlight-size);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Components */
/* Image sizing */
img {
    height:100%;
    width:100%;
    object-fit: cover;
    margin: var(--inline-spacing);
}
/* NEEDS WORK */
/* Button group */
.button-group {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: var(--inline-spacing);
}

.button-group:last-child {
    margin:0;
}
/* NEEDS WORK */
/* Button styling */
button {
    width: 100%;
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    padding: 0.8em 1.6em;
    border-radius: var(--btn-border-radius);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    cursor: pointer;
    filter: drop-shadow(var(--drop-shadow));
}

button:hover {
    background-color: var(--secondary);
}

button:focus {
    background-color: var(--secondary);
}

.keyword-container {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    margin: var(--inline-spacing);
}

.keyword-container:last-child {
    margin: 0;
}

.keyword {
    border-radius: 0.2em;
    padding: 0 0.8em 0.2em 0.8em;
    background-color: var(--gray);
    margin: 0;
    color:var(--black);
    font-size: var(--keyword-size);
    font-weight: 100;
}

.keyword:hover {
    background-color: var(--secondary-background);
    color: var(--black);
    cursor: default;
}

/* Header styling */
header, footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: var(--header-footer-padding);
    filter: drop-shadow(drop-shadow(var(--drop-shadow)));
}

/* Spacing reset for header and footer */
header p, footer p {
    margin: 0;
}

/* Styling for navigation links */
header a, footer a {
    color: var(--nav-link);
}

/* Header and footer content spacing and alignment */
#header-content, #footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20em;
}

#nav-links a {
    display: flex;
    align-items: center;
}

/* Section styling */
section {
    padding: var(--section-padding);
    width: 100vw;
    display: flex;
    justify-content: center;
}

#introduction > .section-content {
    display: flex;
    flex-direction: column;
}

#introduction > .section-content > div {
    display: flex;
}
#introduction > .section-content > div > p {
    width: 46%;
}

#introduction > .section-content > div > p:first-child {
    margin: 0 1em 0 0;
}

/* Fix for last p in section */
section p:last-child {
    margin: 0 0 0 0;
}
/* NEEDS WORK */
/* Alternating section backgrounds */
section:nth-child(even), header, footer {
    background-color: var(--background);
    color: var(--white);
}
/* NEEDS WORK */
.focus-box {
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(var(--drop-shadow));
}

.focus-box p, ul {
    margin:0;
    padding:0;
}

.focus-box li {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0.2em 0;
}

.focus-column {
    border: var(--border);
    background-color: var(--white);
    color:var(--black);
    padding: var(--container-padding);
    min-width: 14em;
    border-radius: var(--border-radius);
}

.focus-column h2 {
    font-weight:900;
    font-size: 1.2em;
    margin:0 0 0.4em 0;
}

.focus-column:first-child {
    border-radius: 1em 0 0 1em;
}

.focus-column:last-child {
    border-radius: 0 1em 1em 0;
}
/* NEEDS WORK */
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.project {
    border: var(--border);
    background-color: #ffffff;
    color: var(--black);
    width: 46%;
    border-radius: var(--border-radius);
    margin: var(--project-margins);
    filter: drop-shadow(var(--drop-shadow));
}

.project-content {    
    padding: var(--container-padding);
}

.project > h2 {
    border-radius: 0.9rem 0.9rem 0 0;
    margin: 0;
    padding: 1rem;
    color: var(--black);
    background-color: var(--gray);
}

.project > .project-content > p {
    font-size: 1em;
}

/* HIGHLIGHTS NEED WORK */
/* Fixes for highlights list styling */
.project li {
    margin: 0 0 0.2em 1em;
}
/* Highlights styling */
.project > .project-content > .focus-column {
    margin: var(--inline-spacing);
    width: 100%;
    border-radius: 0em;
    background-color: var(--secondary-background);
    border: none;
}
.project > .project-content > .focus-column h2 {
    font-size: 1em;
}

.project > .focus-column:last-child {
    margin: 0;
}

/* Animation */
/* Animation classes */
.animation-appear {
    opacity: 0;
    animation: appear 1s ease 1 forwards;
}

.animation-slideup {
    animation: slideup 1s ease 1 forwards;
}

/* Animations */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #ffffff;
    background-color: #2D2D2D;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    animation: shrinkup 0.5s ease 1 forwards;
    animation-delay: 1.5s;
    filter: drop-shadow(var(--drop-shadow));
}

#animation-intro {
    opacity: 0;
    animation: moveright 1s ease 1,
    appear 1s ease 1 forwards;
    animation-delay: 2s;
}

#animation-intro-p1 {
    animation-delay: 3s;
}

#animation-intro-p2 {
    animation-delay: 3.2s;
}

#skills, #tldr, #featured-work, #other-work, #side-projects {
    animation-delay: 3.4s;
}

/* Types of animations */
@keyframes moveright {
    0% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(0%);
    }    
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}

@keyframes shrinkup {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
        display: none;
    }    
}

/* Media queries */
/* Desktop */
.mobile-visible {
    display: none;
}

/* For Mobile */
@media only screen and (max-width: 480px) {
    #header-content, #footer-content, .section-content {
        --page-width: 90vw;
    }
    /* NEEDS WORK ON MOBILE VERSION MENU */
    header, footer {
        width: 100vw;
        padding: 1em 0;
    }
    /* NEEDS WORK TO HAVE LOGO INSTEAD OF NAME */
    header p, footer p {
        display: none;
    }

    section {
        --section-padding: 2em 0;
    }
    .focus-box {
        justify-content: center;
    }

    .focus-column {
        width: 100vw;
    }

    .focus-column:first-child, .focus-column:last-child {
        border-radius: 1em;
    }

    .focus-column:first-child {
        --inline-spacing: 0 0 1em 0;
        margin: var(--inline-spacing);
    }

    .project .focus-column {
        border-radius: 0em;
    }
}

/* For Tablets */
@media only screen and (max-width: 768px) {
    h1 {
        --h1-size: 2em;
    }

    h2 {
        --h2-size: 1.4em;
    }

    p {
        --p-size: 1.1em;
    }
    
    #header-content, #footer-content, .section-content {
        --page-width: 90vw;
    }

    header, footer {
        width: 100vw;
        padding: 1em 0;
    }

    section {
        --section-padding: 2em 0;
    }

    #introduction > .section-content > div {
        display: flex;
        flex-wrap: wrap;
    }
    #introduction > .section-content > div > p:first-child {
        margin: 0 0 1em 0;
    }

    #introduction > .section-content > div > p {
        width: 100%;
    }

    .project {
        width: 100vw;
    }

    .mobile-visible {
        display: inline !important;
    }

    .mobile-hidden {
        display: none !important;
    }
}

/* For Desktop */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    #header-content, #footer-content, .section-content {
        --page-width: 90vw;
    }
    .project {
        width: 46%;
    }
}