html {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
    border: 1px solid red;
}

body {
    margin: 0;
    width: 80vw;
}