html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    border: 1px solid red;
}

/* Width of content */
#header_content, section, footer {
    width: 70vw;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    display: flex;
    background-color: #000000;
    justify-content: center;  
}

#header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_content a {
    color: #ffffff;
}